<!doctype html>

{%extends "base.html" %}
{%block content%}

<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">Features coming soon...</h2>
        <dl>
          <dt>Expand local political races</dt>
          <dd>- Other local elections in NYC</dd>
          <dd>- Elections in more prominent US cities</dd>
          <dt>Allow users to compare specific local politician to national politicians </dt>
          <dd>- "Bottom-up approach"</dd>
          <dt>Deeper analysis of most-similar politicians</dt>
          <dd>- Identify topics that account for greatest similarities/differences</dd>
          <dt>Provide resources to inform on politician recommendations</dt>
          <dd>- Link to campaign websites</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">Let's better understand local politics!</h2>
      <div/>
    </div>
  </div>
</section>


{% endblock %}
