<!doctype html>

{%extends "base.html" %}
{%block content%}

<!--Overview-->
<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">About this project</h2>
          <h3 class=""><b>What can I do with this app?</b></h3>
          <h5 class="description text-left">
            Using this app, you can compare local politicians who you may want
            to learn more about to more renowned politicians that you recognize.
          </h5>
          <h3 class=""><b>Why may this be helpful?</b></h3>
          <h5 class="description text-left">
            Voter turnout in local political elections can be
            <a href="http://whovotesformayor.org/">incredibly low</a>. While this
            is a a very nuanced problem, one major contributing factor is that
            <a href="https://hub.jhu.edu/2018/12/14/americans-dont-understand-state-government/">
            voters are generally unfamiliar with local political candidates</a>.
            This app will help voters learn more about their local politicians,
            and hopefully inspire more engagement in local politics by doing so.
          </h5>
          <h3 class=""><b>How can we compare the politicians?</b></h3>
          <h5 class="description text-left">
            Comparing politicians across different levels of government can be
            difficult; they do not vote on common legislation. However, these
            days nearly all politicians share one thing in common: they Tweet!
            Nearly all politicians use <a href="https://www.twitter.com">Twitter </a>
            as a political platform to directly connect with voters and broadcast
            their political ideologies. Thus, a politician's collection of Tweets
            can represent an effective means to compare politicians.
          </h5>
          <h3 class=""><b>How can we compare politicians' Twitter profiles?</b></h3>
          <h5 class="description text-left">
            To analyze the politicians, I scraped the most recent Tweets for a
            number of politicians. Using these most recent Tweets, I apply various
            techniques of <a href="https://en.wikipedia.org/wiki/Natural_language_processing">
            natural language processing</a> to:
            <br>
            <b>1.</b> Identify the most important words Tweeted by the politicians
            <br>
            <b>2.</b> Determine the sentiment of Tweets containing these words
            <br>
            This analysis gives me thousands of word vectors by which to compare
            the politicians. Similarities between politicians are then quantified
            using <a href="https://en.wikipedia.org/wiki/Cosine_similarity">
            cosine similarity</a> as a similarity metric.
          </h5>
          <h3 class=""><b>Let's see it in action!</b></h3>
          <h5 class="description text-left">
            Choose a tab on the navigation bar above to get started!
          </h5>
          <br>
      </div>
    </div>
  </div>
</section>

{% endblock %}
