<!doctype html>

{%extends "base.html" %}
{%block content%}

<!--Enter local politicians-->
<section id="data-input">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">2021 NYC Mayoral Election</h2>
          <h5 class="description text-left">
            The New York City mayoral election will take place on November 2,
            2021. However, the Democratic and Republican primaries are June 22nd,
            2021. Accorcing to <a href="https://www.newyorkcountypolitics.com/2021-election-whos-running-for-what/">
            New York Count Politics</a>, below is a list of registered candidates.
          </h5>
      </div>
    </div>
    <div class="row">
      <div class="form-group bmd-form-group col-lg ml-auto mr-auto">
        <label class="bmd-label-static">Enter politician Twitter handle</label>
        <input id="entered-handle" type="text" class="form-control" placeholder="@joebiden">
        <input type="submit" class="btn btn-sm" value="Analyze politician!">
      </div>
    </div>
  </div>
</section>

{% endblock %}
