<!doctype html>

{%extends "base.html" %}
{%block content%}

<!--Enter local politicians-->
<section id="data-input">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">2021 NYC Mayoral Election</h2>
          <h5 class="description text-left">Other stuff</h5>
      </div>
    </div>
    <div class="row">
      <div class="form-group bmd-form-group col-sm ml-auto mr-auto">
        <label class="bmd-label-static">Enter politician Twitter handle</label>
        <input id="entered-handle" type="text" class="form-control" placeholder="@joebiden">
        <input type="submit" class="btn btn-sm" value="Analyze politician!">
      </div>
    </div>
  </div>
</section>

{% endblock %}
