<!doctype html>

{%extends "base.html" %}
{%block content%}

<!--Enter local politicians-->
<section id="data-input">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">2021 NYC Mayoral Election</h2>
          <h5 class="description text-left">
            The New York City mayoral election will take place on November 2,
            2021. However, the Democratic and Republican primaries are June 22nd,
            2021. According to <a href="https://www.newyorkcountypolitics.com/2021-election-whos-running-for-what/">
            New York County Politics</a>, there are 32 candidates registered
            for the election.
            <br>
            <br>
            <figure>
              <img src="static/img/NYC_county_politics_1.png" alt="candidates_top" class="img-raised img-fluid" style="width:800px;height:266px;">
              <img src="static/img/NYC_county_politics_2.png" alt="candidates_bottom" class="img-raised img-fluid" style="width:800px;height:400px;">
              <figcaption>Candidate images taken from NY County Politics</figcaption>
            </figure>
            <br>
            Unfortunately, not all registered candidates have sufficient Twitter
            profiles for analysis, so only the 14 candidates who have Tweeted
            more than 500 times are included in the analysis. To see how these
            14 candidates compare to a politician that you know,
            enter that politician's Twitter handle below!
          </h5>
      </div>
    </div>

    <!-- Form for entering Twitter handle-->
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title text-center">How do they compare to your politician of choice?</h2>
        <form class="" action="/local-race-analysis#bar_sim_plot" method="post">
          <div class="row">
            <div class="form-group bmd-form-group col-lg ml-auto mr-auto">
              <label class="bmd-label-static" for="entered-handle">Enter politician Twitter handle</label>
              <input id="entered-handle" type="text" class="form-control" placeholder="Ex: joebiden" name="handle">
              <div>
                <input type="radio" id="most" name="most-least" value="Most" checked>
                <label for="most">Tell me more about the <b>MOST</b> similar mayoral candidate</label>
              </div>
              <div>
                <input type="radio" id="least" name="most-least" value="Least">
                <label for="most">Tell me more about the <b>LEAST</b> similar mayoral candidate</label>
              </div>
              <input type="submit" class="btn btn-info" value="Analyze politician!" method="post">
              <br>
            </div>
           </div>
           <h6>Be patient! It may take a minute to analyze the Twitter profile...</h6>
           <br>
        </form>
      </div>
    </div>
  <div/>
</section>

{% endblock %}
